@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Open+Sans&display=swap');

:root {
  --color5: #0E1C30;
  --color4: #3D4675;
  --color3: #625A89;
  --color2: #90719B;
  --color1: #C9A2BD;
  --success-bg: #a1e2e4;
  --success-text: #063b3d;
  --error-bg: #f8d7da;
  --error-text: #65164d;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-image: url('./assets/bgAuth.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Playfair Display', serif;
}

ul {
  list-style-type: none;
}

input, textarea {
  font-family: inherit;
  font-size: inherit;
  border-radius: 5px;
  padding: 10px;
}

input:focus, textarea:focus {
  outline: 2px solid var(--color4);
}

.logo {
  width: 40px;
  height: auto;
  margin-left: 10px;
  vertical-align: middle;
  filter: brightness(400%) contrast(50%);
}

.btn-primary {
  background: linear-gradient(135deg, var(--color4), var(--color3));
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  color: white;
  font-weight: 600;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 1.1em;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.btn-primary:hover {
  background: linear-gradient(135deg, var(--color3), var(--color2));
  transform: scale(1.02);
}

.btn-secondary {
  background-color: var(--color2);
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 1em;
  transition: all 0.3s ease;
  margin-top: 20px;
}

.btn-secondary:hover {
  background-color: var(--color1);
  transform: scale(1.02);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.heading {
  font-size: 2.7em;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  text-align: center;
}

.subheading {
  font-size: 1em;
  margin-top: 30px;
  text-align: center;
}

.error-message {
  color: var(--error-text);
  background-color: var(--error-bg);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.success-message {
  color: var(--success-text);
  background-color: var(--success-bg);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.loading-message {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 20px;
}

.responsive-img {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
  margin: 20px 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

@media (max-width: 480px) {
  .heading {
    font-size: 1.8em;
  }

  .btn-primary,
  .btn-secondary {
    font-size: 0.95em;
    padding: 10px 14px;
  }

  .input-field {
    font-size: 0.95em;
  }
}
