.history-container {
  display: flex;
  flex-direction: column;
  width: 90vw; 
  margin: 0 auto;
  color: white;
}

.history-list {
  padding: 20px 0;
}

.history-item {
  padding: 10px 30px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  border-radius: 5px;
}

.analysis-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  color: white;
  padding: 20px;
}

.loading, .error {
  font-size: 1.2em;
  color: var(--error-color);
}

.pie-chart-container {
  width: 500px;  
  max-width: 100%;  
  height: 400px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
  .pie-chart-container {
    max-width: 100%;
    height: 400px;
    width: 400px;
  }

  .history-container {
    padding: 30px 10px;
  }
}





